.sidebar_container {
  background-color: var(--primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 350px;
  .logo_container {
    display: flex;
    justify-content: center;
    .name {
      font-size: 1.5rem;
      font-weight: 800;
      border: none;
      outline: none;
      color: #a4a6b3;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        color: var(--secondary);
      }
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    font-family: Gotham;
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem 2rem;
    gap: 3rem;
    transition: all 0.3s ease;
    .link {
      display: flex;
      text-decoration: none;
      color: #a4a6b3;
      font-size: 1rem;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.3s ease;
      &:hover {
        color: var(--secondary);
        transform: (scale(1.05));
        cursor: pointer;
      }
    }

    .active {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--secondary);
      font-size: 1rem;
      gap: 0.5rem;
      transition: all 0.3s ease;
      background: var(--transparentBg);
      padding: 1rem;
      width: 100%;
    }
  }
  .brand_message {
    color: var(--secondary);
    padding: 1rem;
  }
}
